.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
  list-style: none;
}

.navigation > li {
  flex: 1;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  padding: 1rem;
}
